$gradient1:#ee0979;
$gradient2:#ff6a00;
$banner-pagination:#fff;
$banner-pagination-active:#ee0979;
$link-text-color:#fff;
$article-border:1px solid #ccc;
$card-title:#fff;
$card-text:#eee;
$article-tag-bg: rgba(#fff, 0.3);
$article-tag-border: 1px solid #ccc;
$article-tag-shadow:2px 2px 10px 3px #aaa;